{% extends 'base/base.html' %}
{% block title%}login{% endblock %}
{% load static %}
{% block content %}

{% block css %} 
<link rel="stylesheet" href="{% static 'page/login_register.css' %}">

{% endblock %}


<div class="auth_background" style="background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-technology-light-effect-blue-purple-technology-wind-picture-image_1473694.jpg); background-size: cover; background-repeat: no-repeat;">
<section class="containers container py-5 my-4" >
  <header><h1>JOB SEEKERS LOGIN</h1></header>
  <div class="box" ></div>
 
  <form class="form" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-box">
      <label>Email</label>
      <input type="email" name="username" placeholder="Enter Email Address" required />
    </div>

    <div class="input-box">
      <label>password</label>
      <input type="password" name="password" placeholder="Enter User Password" required />
    </div>


    <button type="submit">Submit</button>
  </form>
</section>

</div>



{% endblock %}