{% extends 'base/base.html' %}
{% block title%}login{% endblock %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'page/login_register.css' %}">
{% endblock %}
<section class="containers container py-3 my-5">
  <header>JOB SEEKERS LOGIN</header>
  <form class="form" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-box">
      <label>Email</label>
      <input type="email" name="username" placeholder="Enter Email Address" required />
    </div>

    <div class="input-box">
      <label>password</label>
      <input type="password" name="password" placeholder="Enter User Password" required />
    </div>


    <button type="submit">Submit</button>
  </form>
</section>





{% endblock %}