{% extends 'base/base.html' %}
{% block title%}login{% endblock %}
{% load static %}

{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'page/login_register.css' %}">
{% endblock %}

  <section class="containers container">
    <header>ADMIN LOGIN</header>
    <form class="form"  method="post" action=""
      enctype="multipart/form-data">
      {% csrf_token %}
     
        <div class="input-box">
          <label>Username</label>
          <input type="text" name="username" placeholder="Enter Username" required />
        </div>

        <div class="input-box">
          <label>password</label>
          <input type="password" name="password" placeholder="Enter Password" required />
        </div>
      

   
      <button type="submit">Submit</button>
    </form>
  
  </section>

  {% if error == "no" %}
  <script>
    alert('login Successfull');
    window.location = ("{% url 'admin_dashboard' %}")
  </script>
  {% endif %}
  
  {% if error == "yes" %}
  <script>
    alert('Invalid Creditanial Try Again');
    window.location = ("{% url 'admin_login' %}")
  </script>
  {% endif %}

 

{% endblock %}