{% extends 'main/employer/base.html' %}
{% load static %}

{% block content %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'page/profile.css' %}">
{% endblock css %}

<style>
    td{
        color: black;
    }
</style>
  <a href="{% url 'emp_dash' %}" class="text-dark"><i class="fa fa-backward"></i></a>
  <section style="border-color: black !important;">
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="thumbnail">
            {% if employer.image %}
            <img src="{{ employer.image.url }}" alt="Profile Picture" class="detail_image" style="max-width: 200px;">
            {% else %}
            <img src="{% static 'images/profile.png' %}" alt="" class="detail_image">
            {% endif %}

            <div class="caption">
              <h2>{{ user.first_name }} {{ user.last_name }}</h2>
              <p>Employer User</p>
              <!-- Button trigger modal -->
              <a href="#updateProfileModal" role="button" class="btn btn-primary" data-toggle="modal">
                Update
              </a>
            </div>
          </div>
        </div>
        <div class="span6">
          <h3>My Profile</h3>
          <table class="table">
            <tr>
              <td>Company:</td>
              <td>{{ employer.company }}</td>
            </tr>
            <tr>
              <td>Full Name:</td>
              <td>{{ user.first_name }} {{ user.last_name }}</td>
            </tr>
            <tr>
              <td>Gender:</td>
              <td>{{ employer.gender }}</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>{{ user.username }}</td>
            </tr>
            <tr>
              <td>Mobile:</td>
              <td>{{ employer.mobile }}</td>
            </tr>
          </table>
          <div class="social-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div id="updateProfileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="updateProfileLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 id="updateProfileLabel">Update Profile</h3>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="control-group">
              <label class="control-label" for="mobile">Mobile</label>
              <div class="controls">
                <input type="text" id="mobile" name="mobile" value="{{ employer.mobile }}" class="input-xlarge">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="gender">Gender</label>
              <div class="controls">
                <input type="text" id="gender" name="gender" value="{{ employer.gender }}" class="input-xlarge">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="company">Company</label>
              <div class="controls">
                <input type="text" id="company" name="company" value="{{ employer.company }}" class="input-xlarge">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="status">Status</label>
              <div class="controls">
                <input type="text" id="status" name="status" value="{{ employer.status }}" class="input-xlarge">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="image">Profile Image</label>
              <div class="controls">
                <input type="file" id="image" name="image" class="input-file">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Update Profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>

 {% endblock %}