{% extends 'base/base.html' %}
{% block title%}Login{% endblock %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'page/login_register.css' %}">
{% endblock %}

<div class="auth_background" style="background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210902/pngtree-technology-light-effect-blue-purple-technology-wind-image_785400.jpg); background-size: cover; background-repeat: no-repeat;">
<section class="containers container py-5 my-4">
  <h1>EMPLOYER LOGIN</h1>
  <div class="box"></div>
  <form class="form" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-box">
      <label>Email</label>
      <input type="email" name="username" value="{{username|default_if_none:''}}" placeholder="Enter Email Address" required />
    </div>

    <div class="input-box">
      <label>password</label>
      <input type="password" name="password" id="pass" placeholder="Enter Correct Password" required />
      <a class="button" onclick="abc()"><i class="fas fa-eye"></i></a>
    </div>



    <button type="submit">Submit</button>
  </form>
  {% if error == "no" %}
  <script>
    alert('login Successfull');
    window.location = ("{% url 'about' %}")
  </script>
  {% endif %}

  {% if error == "yes" %}
  <script>
    alert('Invalid Creditanial Try Again');
    window.location = ("{% url 'user_login' %}")
  </script>
  {% endif %}

  {% if error == "not" %}
  <script>
    alert('Your login status is Pending');
    window.location = ("{% url 'user_login' %}")
  </script>
  {% endif %}

</section>
</div>




{% endblock %}