    <!-- Modal -->
{% extends 'base/base.html' %}
{% block title%} HOME{% endblock %}
{% load static %}
{% block content %}
   
{% block css %}
<link rel="stylesheet" href="{% static 'page/login_register.css' %}">
{% endblock %}
<section class="containers container py-3 my-5">
  <header>Application Forms</header>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="" class="form-label">Upload Resume</label>
      <input type="file" class="form-control" name="cv" id="" aria-describedby="emailHelp">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>




            
    {% endblock %}