{% extends 'base/base.html' %}
{% block title%} Change-Password{% endblock %}
{% load static %}
{% block css %} {% endblock %}
{% block content %}
    <style>
   
        .form-container {
            background-color: #ffffff;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }
        .form-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .form-group {
            margin-bottom: 1rem;
        }
        .btn-custom {
            background-color: #007bff;
            color: #fff;
            border: none;
            transition: background-color 0.3s ease;
        }
        .btn-custom:hover {
            background-color: #0056b3;
        }
        .errorlist {
            color: red;
            margin-top: 0.5rem;
        }
       
        label{
            width: 100%;
        }
        input{
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container my-5">
        <div class="form-container border">
            <div class="form-title">Change Password</div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    {{ user_form.as_p }}
                    {% if form.non_field_errors %}
                        <div class="errorlist">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-custom btn-block">Change Password</button>
            </form>
        </div>
    </div>

{% endblock %}
<!-- -->