{% extends 'base/base.html' %}
{% block title %} Saved Jobs {% endblock %}
{% load static %}
{% block content %}

<div class="single-job-items mb-30 border rounded">
    {% if saved_jobs%}
    {% for i in saved_jobs %}
    <div class="single-job-items mb-30 border rounded">
        <div class="job-items">
            <div class="company-img">
                <a href="#"><img src="{{i.image.url}}" alt="" width="100" height="100"
                        style="border: 1px solid black; padding: 4px;"></a>

            </div>
            <div class="job-tittle job-tittle2">
                <a href="#">
                    <h4>{{i.title}}</h4>
                </a>
                <ul>
                    <li>{{i.employers.company}}</li>
                    <li><i class="fas fa-map-marker-alt"></i>{{i.location}}</li>
                    <li>{{i.job_type.job_type}}</li>
                </ul>
            </div>
        </div>
        <div class="items-link items-link2 f-right">
            {% if i.id in list %}
            <a href="">Applied</a>
            {% else %}
            <a href="{% url 'job_details' i.id %}">Apply Now</a>
            {% endif %}
            <span>Date Line: {{ i.end_date }}</span>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p style=" margin: auto;" class="text-center">no reference yet !!</p>
    {% endif %}
</div>

{% endblock %}