{% extends 'admin_dashboard/index.html' %}
{% block title%}Jobseeker-List{% endblock %}
{% block main %}
{% load static %}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Jobseeker User Data Show
    </div>
    <div class="card-body">
        <table id="example" class="display nowrap">
            <thead>
                <tr>
                    <th>s.No</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Gender</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                    <td>{{ i.user.username }}</td>
                    <td>{{ i.mobile }}</td>
                    <td>{{ i.gender }}</td>
                    <td><img src="{{ i.image.url }}" alt="" width="80"></td>
                    <td><a href="{% url 'delete_user' i.user.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user ?')">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}