{% for i in job%}
<div class="single-job-items mb-30 border rounded">
    <div class="job-items">
        <div class="company-img">
            <a href="#"><img src="{{i.image.url}}" alt="" width="100" height="90" style="border: 1px solid black; padding: 4px;"></a>

        </div>
        <div class="job-tittle job-tittle2">
            <a href="#">
                <h4>{{i.title}}</h4>
            </a>
            <ul>
                <li>{{i.employers.company}}</li>
                <li><i class="fas fa-map-marker-alt"></i>{{i.location}}</li>
                <li>{{i.job_type.job_type}}</li>
            </ul>
        </div>
    </div>
    <div class="items-link items-link2 f-right">
        <a href="job_details.html">Apply Now</a>
        <span>Date Line: {{i.end_date}}</span>
    </div>
</div>
{% endfor %}

